.quiz {
    margin-top: 70px;
}

.topoQuiz {
    width: 100%;
    height: 142px;
    position: relative;
}

.topoQuiz img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.topoQuiz span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    font-size: 23px;
    font-weight: 400;
    z-index: 1;
}

.perguntaQuiz {
    width: 100%;
    margin-top: 28px;
    padding: 20px;
    background-color: #ffffff;
}

.pergunta {
    background-color: #434ca0;
    font-size: 19px;
    font-weight: 700;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 89px;
}

.element img {
    width: 50px;
    height: 50px;
}