.conteiner-criacao-quiz{
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
}

.conteiner-criacao-quiz h2{
    font-weight: 700;
    font-size: 24px;
    color:black;
}

.secao-info-basica{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa-info-quiz{
    box-sizing: border-box;
    width: 600px;
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 21px 18px;
    margin-top: 28px;
    background-color: white; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

input{
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    height: 46px;
    text-indent: 22px;
}

input::placeholder{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    color: #BABABA;
}

.botao-confirmacao{
    height: 54px;
    width: 368px;
    border-radius: 15px;
    border:currentColor;
    background: #EC362D;
    margin-top: 85px;
    font-weight: 400;
    font-size: 20px;
    color: #FFF5F4;
}

.secao-cria-pergunta{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.config-pergunta{
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    height: 65px;
    width: 600px;
    padding: 26px 16px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    overflow-y: hidden;
    transition: height 1s;
}

.aberto{
    height: 825px;
}

.aberto img{
    display: none;
}

.config-pergunta h3{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.pergunta{
    position: relative;
}

.pergunta img{
    position: absolute;
    right: 18px;
    top:0;
    height: 23px;
    width: 26px;
}

.info div{
    height: 106px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.resp-incorreta div:last-child{
    margin-bottom: 0px;
}

@media (max-width:600px){
    .conteiner-criacao-quiz h2{
        margin-top: 106px;
    }
    
    .caixa-info-quiz{
        width: 100%;
    }
}