.conteiner-criacao-quiz{
    width: 100%;
    height: 100vh;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
}

.conteiner-criacao-quiz h1{
    font-weight: 700;
    font-size: 38px;
    color:white;
}

.conteiner-criacao-quiz h2{
    font-weight: 700;
    font-size: 24px;
    margin-top: 140px;
    color:black;
}


.barra-topo{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.caixa-info-quiz{
    box-sizing: border-box;
    width: 600px;
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 21px 18px;
    margin-top: 28px;
    background-color: white; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.caixa-info-quiz input{
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    width: 100%;
    height: 46px;
    text-indent: 22px;
}

.caixa-info-quiz input::placeholder{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    color: #BABABA;
}

.botao-confirma-infos{
    height: 54px;
    width: 368px;
    border-radius: 15px;
    border:currentColor;
    background: #EC362D;
    margin-top: 85px;
    font-weight: 400;
    font-size: 20px;
    color: #FFF5F4;
}

@media (max-width:600px){
    .conteiner-criacao-quiz h2{
        margin-top: 106px;
    }
    .caixa-info-quiz{
        width: 100%;
    }
}