* {
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.barra-topo{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    z-index: 3;
}

h1{
    font-weight: 700;
    font-size: 38px;
    color:white;
}

h1:hover{
    cursor: pointer;
}

h6 {
    font-size: 20px;
    font-weight: 700;
    word-break: break-all;
}

.gradiente {
    background-image: linear-gradient(to top, rgb(0, 0, 0, 0.8), rgba(255,255,255,0));
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.pelicula {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1051px;
}

.desligado {
    display: none;
}

@media (max-width: 1100px) {
    .home {
        width: 100%;
        padding: 0px 17px;
    }
    h6 {
        font-size: 13px;
    }
}