.container-sucesso-quiz {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E5E5;
    height: 100%;
}
.container-sucesso-quiz :first-child {
    font-size: 20px;
    font-weight: 700;
}
.container-sucesso-quiz img {
    width: 90%;
    background-color: blue;
    max-height: 181px;
    object-fit: cover;
    margin: 30px 0px;
    border-radius: 5px;
}
.container-sucesso-quiz button {
    background-color: #EC362D;
    border-radius: 15px;
    width: 220px;
    height: 44px;
    border: none;
    color: #FFF5F4;
    font-size: 18px;
}
.container-sucesso-quiz :last-child {
    margin-top: 20px;
    color: #818181;
    font-size: 18px;
}