input{
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    height: 46px;
    text-indent: 22px;
}

input::placeholder{
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    color: #BABABA;
}

button:hover{
    cursor: pointer;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.privadosQuiz{
    width: 1050px;
    height: 180px;
    margin-top: 146px;
}
.privadosQuiz span{
    font-weight: 700;
    font-size: 20px;
    color: black;
}

.privadosQuiz ion-icon{
    color:#EC362D;
    font-size: 30px;
}

.privadosQuiz div{
    display: flex;
    align-items: center;
}

.privadosQuiz.vazio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px dashed #D5D5D5;;
    border-radius: 5px;
}

.privadosQuiz.vazio h3{
    font-weight: 400;
    font-size: 20px;
    color: #B9B9B9;
    text-align: center;
}

.privadosQuiz.vazio button{
    background-color: #fafafa;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    width: 150px;
    height: 40px;
    font-weight: 400;
    font-size: 21px;
    color: #EC362D;
}

.conteiner-criacao-quiz{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteiner-criacao-quiz h3{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.conteiner-criacao-quiz h2{
    font-weight: 700;
    font-size: 24px;
    color:black;
}

.secao-info-basica{
    width: 100%;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa-info-quiz{
    box-sizing: border-box;
    width: 600px;
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 21px 18px;
    margin-top: 28px;
    background-color: white; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.botao-confirmacao{
    height: 54px;
    width: 325px;
    border-radius: 15px;
    border:currentColor;
    background: #EC362D;
    margin-top: 85px;
    font-weight: 400;
    font-size: 20px;
    color: #FFF5F4;
}

.secao-cria-pergunta{
    width: 100%;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.config-pergunta{
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    height: 65px;
    width: 600px;
    padding: 26px 16px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    overflow-y: hidden;
    transition: height 1s;
}

.pergunta{
    position: relative;
}

.pergunta img{
    position: absolute;
    right: 18px;
    top:0;
    height: 23px;
    width: 26px;
}

.info div{
    height: 106px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.resp-incorreta div:last-child{
    margin-bottom: 0px;
}

.secao-cria-niveis{
    width: 100%;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.config-nivel{
    position: relative;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    height: 65px;
    width: 600px;
    padding: 26px 16px 12px 16px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    overflow-y: hidden;
    transition: height 1s;
}

.config-nivel div{
    height: 224px;
    display: flex;
    flex-direction: column;
}

.config-nivel input{
    margin-bottom: 14px;
}

.config-nivel img{
    position: absolute;
    right: 18px;
    top:21px;
    height: 23px;
    width: 26px;
}

.config-pergunta.aberto{
    height: 825px;
}

.config-nivel.aberto{
    height: 316px;
}

.aberto img{
    display: none;
}

.lista-config-niveis textarea{
    display: none;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    height: 46px;
    text-indent: 22px;
}

@media(max-width:1100px){

    textarea::placeholder{
        font-family: "Roboto";
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        color: #BABABA;
        
    }

    .privadosQuiz.vazio{
        width: 95%;
    }

    .privadosQuiz div{
        justify-content: space-between;
    }

    .caixa-info-quiz{
        width: 100%;
    }

    .lista-config-perguntas{
        width: 100%;
    }

    .config-pergunta{
        width: 100%;
    }

    .lista-config-niveis{
       width: 100%; 
    }

    .config-nivel{
        width: 100%;
    }

    .config-nivel div{
        height: 284px;
    }
    .lista-config-niveis textarea{
        display: initial;
        height: 176px;
        border-radius: 5px;
        border: 1px solid #D1D1D1;
        text-indent: 22px;
    }

    .config-nivel.aberto{
        height: 376px;
    }

    .config-nivel input:nth-child(4){
        display: none;
    }
}