.todosQuiz {
    margin-top: 38px;
    padding: 18px;
}
.titulo {
    font-size: 20px;
    font-weight: 700;
}
.preQuiz {
    min-height: 181px;
    margin: 15px 0px;
    position: relative;
    word-break: break-all;
}
.preQuiz img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 5px;
}
.preQuiz span {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px 20px;
    color: #ffffff;
    font-size: 19px;
    font-weight: 400;
    z-index: 1;
}



.quiz {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.topoQuiz {
    width: 100%;
    height: 142px;
    position: relative;
}
.topoQuiz img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.topoQuiz span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    font-size: 23px;
    font-weight: 400;
    z-index: 1;
    text-align: center;
}
.perguntaQuiz {
    width: 100%;
    margin-top: 28px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.tituloPergunta {
    background-color: #EC362D;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 89px;
    margin-bottom: 15px;
    padding: 10px;
    word-break: break-all;
}
.grupo {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}
.element {
    width: 48%;
}
.element:first-child {
    margin-right: 15px;
}
.element img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}
.perguntaQuiz > img {
    width: 100%;
}
.perguntaQuiz > h6 {
    margin-top: 10px;
    font-size: 14px;
}
.quiz button {
    background-color: #EC362D;
    border-radius: 15px;
    width: 220px;
    height: 44px;
    border: none;
    color: #FFF5F4;
    font-size: 18px;
    margin: 35px 0px 8px 0px;
}
.container-sucesso-quiz {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
}
.container-sucesso-quiz span {
    font-size: 20px;
    font-weight: 700;
}


.container-sucesso-quiz button {
    background-color: #EC362D;
    border-radius: 15px;
    width: 220px;
    height: 44px;
    border: none;
    color: #FFF5F4;
    font-size: 18px;
}
.voltaHome {
    margin: 10px 0px;
    color: #818181;
    font-size: 18px;
}
.preQuiz:hover {
    cursor: pointer;
}
.container-sucesso-quiz button:hover {
    cursor: pointer;
}
.home:hover {
    cursor: pointer;
}

@media (min-width: 1100px) {
    .caixaQuiz {
        display: flex;
        flex-wrap: wrap;
    }
    .preQuiz {
        width: 340px;
        margin: 12px 16px;
    }


    .quiz {
        width: 759px;
    }
    .container-sucesso-quiz {
        margin-top: 140px;
    }
    .container-sucesso-quiz span{
        font-size: 23px;
    }

    .container-sucesso-quiz button {
        font-size: 21px;
    }
}